/* IN THE NAME OF GOD */

/* get every breakpoint width and divide it by 16 */

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .container {
    max-width: 90vw;
  }
  .grid--2-cols,
  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  /* .header {
    width: 110vw;
  } */

  .header {
    padding: 0 1.2rem;
  }

  .nav {
    background-color: #087f5b;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    /* align-items: center; */
    justify-content: center;

    /* opacity: 0; */
    pointer-events: none;
    visibility: hidden;
    direction: rtl;
    padding-top: 7rem;

    transition: all 0.5s ease-out;
  }

  .nav--open .nav {
    /* opacity: 1; */
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav--open .nav-list {
    flex-direction: column;
    gap: 2.8rem;
  }

  .nav-list .nav-link {
    font-size: 2.4rem;
  }

  .mobile-nav-btn {
    display: block;
    z-index: 999;
  }

  .nav--open .mobile-nav-icon[name="close"] {
    display: block;
  }
  .nav--open .mobile-nav-icon[name="menu"] {
    display: none;
  }

  .section-hero {
    margin-top: 10rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    margin-right: 2.4rem;
  }

  .hero-text-box {
    grid-row: 2;
  }

  .hero-h1 {
    font-size: 3.2rem;
    margin: 3.2rem 0;
  }
  .doroud {
    font-size: 1rem;
    letter-spacing: 0.2px;
  }

  .hero-text {
    margin-bottom: 2.8rem;
  }

  .hero-img-box {
    margin-top: 1rem;
  }

  .hero-img {
    max-width: 50%;
    grid-row: 1;
    margin-right: 11rem;
  }
  .hero-img-box::before {
    width: 65%;
    padding-bottom: 65%;
    transform: translate(52%, -51%);
  }
  .hero-img-box::after {
    width: 55%;
    padding-bottom: 55%;
    transform: translate(52%, -51%);
  }

  .section-blog {
    max-width: 90vw;
    margin-bottom: 3.6rem;
  }

  .blog-container {
    gap: 2rem;
    max-height: fit-content;
  }

  .blog-item-text {
    font-size: 1.4rem;
  }

  .footer-grid {
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    column-gap: 2.4rem;
  }

  .nav-col {
    align-items: baseline;
  }
  .nav-col a {
    font-size: 1.3rem;
  }

  .design-by {
    font-size: 1rem;
    padding-top: 1.4rem;
  }
}

/**************************/
/* BELOW 512px (Phones) */
/**************************/

@media (max-width: 32em) {
  .hero-img {
    margin-right: 9.5rem;
  }
}

/**************************/
/* BELOW 480px (Phones) */
/**************************/

@media (max-width: 30em) {
  .hero-img {
    margin-right: 9rem;
  }
}

/**************************/
/* BELOW 412px (Phones) */
/**************************/

@media (max-width: 26em) {
  .hero-img {
    margin-right: 8rem;
  }
}
